NEXT_PUBLIC_SUPABASE_URL=https://xambccrcircnlbnuhfcw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhbWJjY3JjaXJjbmxibnVoZmN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2Njc4NjgsImV4cCI6MjA5ODI0Mzg2OH0.eWsnDx6J8TR4XF7lw5y3BwEy__HG8b2-LbIsEbJI6rE